<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229476156455-l7lk07d10br19q7fpjlh3nkietnevvbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229476156455-l7lk07d10br19q7fpjlh3nkietnevvbr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229476156455-cooujqgc6dst7cj5g51gp246ius13enr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7M1BDap-XjpRhOegEk0eSiTcH3bCtMfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>229476156455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sterlingAccuris.ios</string>
	<key>PROJECT_ID</key>
	<string>stearlingaccuries-b1b93</string>
	<key>STORAGE_BUCKET</key>
	<string>stearlingaccuries-b1b93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229476156455:ios:d942d2f312c05611</string>
	<key>DATABASE_URL</key>
	<string>https://stearlingaccuries-b1b93.firebaseio.com</string>
</dict>
</plist>